# Rust
/target
**/*.rs.bk

# Local data
/blockchain.db/
/blockchain.db.lock
.alphanumeric.instance.lock
/private.key
/path/
/alphanumeric_serverless_plan.txt

# Secrets
.env

# OS
.DS_Store
Thumbs.db
